<button onclick="MainPage.getMessage()">Get</button>
<button onclick="MainPage.searchBooks()">Search</button>
<button onclick="MainPage.searchBooks2()">Search2</button>
<script src="/js/main.page.js"></script>