<button onclick="Page.getMessage()">Get</button>
<button onclick="Page.postMessage()">Post</button>
<input type="file" accept=".xlsx,.xlsm" id="send_file_input"> 
<button onclick="Page.sendFile()">Send File</button>
<a id="download_target"></a>
<script src="/js/main.page.js"></script>